{#
User: a49974
Date: 7/06/2017
 #}
{% extends "ORGBirdBundle::layout.html.twig" %}
{% trans_default_domain "ORGBirdBundleAuthor" %}

{% block menu %}
    {% include 'ORGBirdBundle:Menu:mainmenu.html.twig' %}
{% endblock %}

{% block bird_body %}
<div class="well">

    {% form_theme form 'ORGBirdBundle:Form:form_errors.html.twig' %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'form'}}) }}

    <table style="width: 100%">
        <tr>
            <td colspan="2">
                {{ form_errors(form) }}
            </td>
        </tr>
        <tr>
            <td style="width: 25%;vertical-align: top; text-align: center;">
                <div class="well well-sm">{{ 'form.author.image'|trans }}</div>
                <div class="well well-sm" style="cursor: zoom-in" id="img_author">
                    {% if imageroot.fullpath is null %}
                        {% image '@ORGBirdBundle/Resources/public/images/default-author.png'  %}
                            <img src="{{ asset_url }}" style="height: 142px; max-width: 250px" id="thumb">
                        {% endimage %}
                    {% else %}
                        <img src="{{ asset(imageroot.fullpath) }}"  style="height: 142px; max-width: 250px" id="thumb">
                    {% endif %}
                </div>

                <div class="form-group">
                    {#{{ form_label(form.image, 'form.author.image'|trans~" :",{'label_attr': {'class': 'col-sm-3 control-label small'}}) }}#}
                    {{ form_errors(form.image) }}
                    <div class="col-sm-12">
                        {{ form_widget(form.image, {'attr': {'class': 'form-control input-sm'}}) }}
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    {{ form_label(form.lastname, '',{'label_attr': {'class': 'col-sm-3 control-label small'}}) }}
                    {{ form_errors(form.lastname) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.lastname, {'attr': {'class': 'form-control input-sm'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.firstname, '',{'label_attr': {'class': 'col-sm-3 control-label small'}}) }}
                    {{ form_errors(form.firstname) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.firstname, {'attr': {'class': 'form-control input-sm'}}) }}
                    </div>
                </div>
                <div style="margin-left: 20px; margin-bottom: 20px">
                    <ul class="nav nav-tabs">
                        <li class="active"  style="border: none"><a href="#tab1default" data-toggle="pill">{{ 'form.author.tab.1'|trans }}</a></li>
                        <li  style="border: none"><a href="#tab2default" data-toggle="pill">{{ 'form.author.tab.2'|trans }}</a></li>
                    </ul>
                    {# Start TAB #}
                    <div style="border: #dddddd 2px solid; padding: 10px; ">
                    <div class="tab-content" style="">
                        {#Tab 1#}
                        <div class="tab-pane fade in active" id="tab1default">

                                <div class="form-group">
                                    {{ form_label(form.bornLastname, '',{'label_attr': {'class': 'col-sm-3 control-label small'}}) }}
                                    {{ form_errors(form.bornLastname) }}
                                    <div class="col-sm-9">
                                        {{ form_widget(form.bornLastname, {'attr': {'class': 'form-control input-sm'}}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.bornFirstname, '',{'label_attr': {'class': 'col-sm-3 control-label small'}}) }}
                                    {{ form_errors(form.bornFirstname) }}
                                    <div class="col-sm-9">
                                        {{ form_widget(form.bornFirstname, {'attr': {'class': 'form-control input-sm'}}) }}
                                    </div>
                                </div>



                                <div class="form-group">
                                    {{ form_label(form.biography, '',{'label_attr': {'class': 'col-sm-3 control-label small'}}) }}
                                    {{ form_errors(form.biography) }}
                                    <div class="col-sm-9">
                                        {{ form_widget(form.biography, {'attr': {'class': 'form-control input-sm'}}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.comment, '',{'label_attr': {'class': 'col-sm-3 control-label small'}}) }}
                                    <div class="col-sm-9">
                                        {{ form_widget(form.comment, {'attr': {'class': 'form-control input-sm'}}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.borndate, '',{'label_attr': {'class': 'col-sm-3 control-label small'}}) }}
                                    {{ form_errors(form.borndate) }}
                                    <div class="col-sm-3">
                                        {{ form_widget(form.borndate, {'attr': {'class': 'form-control input-sm'}}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.deathdate, '',{'label_attr': {'class': 'col-sm-3 control-label small'}}) }}
                                    {{ form_errors(form.deathdate) }}
                                    <div class="col-sm-3">
                                        {{ form_widget(form.deathdate, {'attr': {'class': 'form-control input-sm'}}) }}
                                    </div>
                                </div>
                            </div>
                            {# TAB 2#}
                            <div class="tab-pane fade" id="tab2default">
                                {% for linkfield in form.linkfieldsauthors %}
                                    <div class="form-group">
                                        {{ form_label(linkfield.field,'' ,{'label_attr': {'class': 'col-sm-3 control-label small'}}) }}
                                        <div class="col-sm-3">
                                            {{ form_widget(linkfield.field, {'attr': {'class': 'form-control input-sm'}}) }}
                                        </div>
                                    </div>
                                    <div>
                                        {{ form_widget(linkfield.type) }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    {#Footer#}
    <div class="row">
        <div class="col-sm-12 text-right">
                {{ form_widget(form.save,{'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>

    {# Modal pour afficher l'image de l'auteur en grand format#}
    <div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body text-center">
                    <img src="" class="enlargeImageModalSource" style="width: 100%; max-width: 400px">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function(){
            var options = {};
            var url = {};
            url['exist_author'] = '{{ path('bird_author_ajax') }}';
            options['language'] = 'fr';
            options['url'] = url;
            setup(options);
        });

    </script>
    {% javascripts '@ORGBirdBundle/Resources/public/js/authorForm.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}