{% extends "ORGBirdBundle::layout.html.twig" %}
{% trans_default_domain "ORGBirdBundle" %}
{#La variable selected est utilisée pour sélectionner un auteur lors du chargement de la page#}
{% if selected is not defined %}
	{% set selected = 0 %}
{% endif %}
{% block menu %}
	{% include 'ORGBirdBundle:Menu:mainmenu.html.twig' %}
{% endblock %}

{% block bird_body %}

	<div class="easyui-layout" id="main-layout" style="width: 100%; height: 400px">
		<!-- panel auteurs -->
		<div data-options="region: 'west',
						title: '{{ 'main.author.title'|trans }}',
						split: true,
						minWidth: 200,
						width: 200"
		 style="padding: 0px">
			<table>
				<tr>
					<td style="vertical-align: top">
						<div class="easyui-panel" data-options="title: 'Alph'">
							<table id="alph">
							</table>
						</div>
					</td>
					<td>
						<!-- grid auteurs -->
						<div class="easyui-datagrid" id="grid-authors" style="padding: 0px"></div>
					</td>
				</tr>
			</table>
		 </div>
		<div data-options="region: 'center',
					   split: true,
					   hideCollapsedContent: false,">
			<div class="easyui-layout" id="cycle-layout" style="width: 100%; height: 100%">
				{% if layout is not defined %}
					{% set layout = 'cirrus' %}
				{% endif %}
				{% if layout == 'startocumulus' %}
					<!-- panel cycles -->
					<div data-options="region: 'center',
								   title: '{{ 'main.cycle.title.layout'|trans }}',
								   split: true,
								   hideCollapsedContent: false,">
						<!-- grid cycles -->
						<div class="easyui-datagrid" id="grid-cycles" style="padding: 0px"></div>
					</div>
					<!-- panel livres -->
					<div data-options="region: 'south',
								   title: '{{ 'main.book.title.layout'|trans }}',
									split: true,
									hideCollapsedContent: false,">
						<!-- grid livres -->
						<div class="easyui-datagrid" id="grid-books" style="padding: 0px"></div>
					</div>
				{% elseif layout == 'cirrus' %}
					<!-- panel cycles -->
					<div data-options="region: 'center',
								   title: '{{ 'main.cycle.title.layout'|trans }}',
								   split: true,
								   hideCollapsedContent: false,">
						<!-- grid cycles -->
						<table class="easyui-treegrid" id="treegrid-cycles" style="padding: 0px"></table>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<script type="text/javascript">

	$(document).ready(function(){
		var options = {};
		//Tableau avec la traduction des titres
		var language = {};
		language['main.author.lastname'] = '{{ 'main.author.lastname'|trans }}';
		language['main.author.firstname'] = '{{ 'main.author.firstname'|trans }}';
		language['main.author.bornlastname'] = '{{ 'main.author.bornlastname'|trans }}';
		language['main.author.bornfirstname'] = '{{ 'main.author.bornfirstname'|trans }}';
		language['main.author.comment'] = '{{ 'main.author.comment'|trans }}';
		language['main.author.creationdate'] = '{{ 'main.author.creationdate'|trans }}';
		language['main.author.loading.msg'] = '{{ 'main.author.loading.msg'|trans }}';
		language['main.author.alph.all'] = '{{ 'main.author.alph.all'|trans }}';

		language['main.cycle.title'] = '{{ 'main.cycle.title'|trans }}';
		language['main.cycle.yncycle'] = '{{ 'main.cycle.yncycle'|trans }}';
		language['main.cycle.nbrvolume'] = '{{ 'main.cycle.nbrvolume'|trans }}';

		language['main.book.title'] = '{{ 'main.book.title'|trans }}';
		language['main.book.volume'] = '{{ 'main.book.volume'|trans }}';
		language['main.book.format'] = '{{ 'main.book.format'|trans }}';
		language['main.book.editor'] = '{{ 'main.book.editor'|trans }}';
		language['main.book.collection'] = '{{ 'main.book.collection'|trans }}';
		//Tableau avec les URL's
		var url = {};
		url['grid-authors'] = '{{ path('bird_dashboard_ajax_authors') }}';
		url['grid-cycles'] = '{{ path('bird_dashboard_ajax_cycles') }}';
		url['grid-books'] = '{{ path('bird_dashboard_ajax_books') }}';
		url['ajax'] = '{{ path('bird_ajax') }}';

		options['language'] = language;
		options['url'] = url;
		options['selectedAuthor'] = {{ selected }};
		setup(options);
	});

	</script>
	{% javascripts '@ORGBirdBundle/Resources/public/js/main.js' %}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}