{#
User: a49974
Date: 2/06/2017
 #}
{% trans_default_domain "ORGBirdBundleMenu" %}

<ul class="nav navbar-nav">
    <li class="active"><a href="{{ path('bird_homepage') }}" class=""><i class="glyphicon glyphicon-home"></i></a></li>

    <li class=" dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'main.menu.main.author'|trans }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li style="{{ menudisabled.disabled('menu_author_add') }}"><a href="{{ path('bird_author_add') }}" ><i class="glyphicon glyphicon-plus"></i> {{ 'main.menu.add'|trans }}</a></li>
            <li style="{{ menudisabled.disabled('menu_author_edit') }}"><a href="#"  id="menu_author_edit"><i class="glyphicon glyphicon-edit" id="menu_author_edit"></i> {{ 'main.menu.edit'|trans }}</a></li>
            <li style="{{ menudisabled.disabled('menu_author_delete') }}"><a href="#" id="menu_author_delete"><i class="glyphicon glyphicon-erase"></i> {{ 'main.menu.delete'|trans }}</a></li>
        </ul>
    </li>
    <li class=" dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'main.menu.main.cycle'|trans }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li style="{{ menudisabled.disabled('menu_cycle_add') }}"><a href="#"><i class="glyphicon glyphicon-plus"></i> {{ 'main.menu.add'|trans }}</a></li>
            <li style="{{ menudisabled.disabled('menu_cycle_edit') }}"><a href="#"><i class="glyphicon glyphicon-edit"></i> {{ 'main.menu.edit'|trans }}</a></li>
            <li style="{{ menudisabled.disabled('menu_cycle_delete') }}"><a href="#"><i class="glyphicon glyphicon-erase"></i> {{ 'main.menu.delete'|trans }}</a></li>
        </ul>
    </li>
    <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'main.menu.main.book'|trans }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li style="{{ menudisabled.disabled('menu_book_add') }}"><a href="#" id="menu_book_add"><i class="glyphicon glyphicon-plus"></i> {{ 'main.menu.add'|trans }}</a></li>
            <li style="{{ menudisabled.disabled('menu_book_edit') }}"><a href="#"><i class="glyphicon glyphicon-edit"></i> {{ 'main.menu.edit'|trans }}</a></li>
            <li style="{{ menudisabled.disabled('menu_book_delete') }}"><a href="#"><i class="glyphicon glyphicon-erase"></i> {{ 'main.menu.delete'|trans }}</a></li>
        </ul>
    </li>
    <li class=" down"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FreeBird <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li style="{{ menudisabled.disabled('menu_help') }}"><a href="#"><i class="glyphicon glyphicon-lamp"></i> {{ 'main.menu.help'|trans }}</a></li>
        </ul>
    </li>

</ul>
<ul class="nav navbar-nav pull-right">
    <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as  <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li style="{{ menudisabled.disabled('menu_admin_password') }}"><a href="#">Change Password</a></li>
            <li style="{{ menudisabled.disabled('menu_admin_profile') }}"><a href="#">My Profile</a></li>
        </ul>
    </li>
    <li class=""><a href="#">Logout</a></li>
</ul>

<script type="text/javascript">

    $(document).ready(function(){
        var options = {};
        //Tableau avec la traduction des titres
        var language = {};
        language['modal.messages.add.book'] = '{{ 'modal.messages.add.book'|trans }}';
        language['modal.messages.btn.yes'] = '{{ 'modal.messages.btn.yes'|trans }}';
        language['modal.messages.btn.no'] = '{{ 'modal.messages.btn.no'|trans }}';
        //Tableau avec les URL's
        var url = {};
        url['menu-author-edit'] = '{{ path('bird_author_edit',{'id': 0}) }}';
        url['menu-book-add'] = '{{ path('bird_book_add',{'idAuthor': 0}) }}';

        options['language'] = language;
        options['url'] = url;
        setupMainMenu(options);
    });

</script>

{% javascripts '@ORGBirdBundle/Resources/public/js/mainmenu.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
